.country-feed-loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.job-post {
  display: flex;
  justify-content: center;
  /* padding: 1rem;
  margin-bottom: 1rem;
  gap: 1rem; */
}

.video-wrapper {
  position: relative;

  display: flex;
  border-radius: 1rem;
  border: 1px solid black;
}

.video-info {
  position: absolute;

  top: 0;
  border-radius: 1rem;

  background-image: linear-gradient(black, transparent);

  width: 100%;
  height: 50%;

  color: white;
  padding: 10px;
}

.container {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.job-post {
  scroll-snap-align: start;
}
