.country-feed-loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.job-post {
  display: flex;
  background-color: antiquewhite;
  padding: 1rem;
  margin-bottom: 1rem;
  gap: 1rem;
}