.header {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 1px 0px 3px #ddd;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #111;
}

.header-auth {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-title {
  font-weight: bold;
}