.continent-flex {
  padding-top: 2rem;
}

.continent-jobs-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.continent-jobs-list li {
  margin-bottom: 1rem;
}

.continent-jobs-list li a {
  text-decoration: none;
  color: #111;
}